@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
    @apply font-primary;
}

canvas {
    max-height: 50vh !important;
    min-height: 50vh !important;
    /* min-height: 20rem !important;
    height: 100vh; */
}
