@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
    @apply font-primary;
}

canvas {
    max-height: 50vh !important;
    /* min-height: 50vh !important; */
    min-height: 30rem !important;
    /* min-height: 20rem !important;
    height: 100vh; */
}
/*
#card-errors {
    @apply border mt-1 block w-full rounded-md focus:border-primary-500 focus:ring-primary-500 border-gray-200 dark:border-slate-500 dark:bg-gray-800 shadow-sm sm:text-sm;
} */
